<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', '/signout' %></li>
    <% else %>
      <li><%= link_to 'Sign in', root_path %></li>
      <li><%= link_to 'Sign up', root_path %></li>
    <% end %>
  </ul>
</nav>
